@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Montserrat';
    background-color: #000319;
    overflow-x: hidden;
}


/* header styling */

header .nav_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(#04071D, #0C0E23);
    width: 400px;
    padding: 18px 25px;
    gap: 25px;
    border: 1px solid #3637496E;
    border-radius: 13px;
    margin: 50px auto;
}

header .nav_list li{
    list-style-type: none;
}

header .nav_list li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
}

/* Main styling */
.hero_section{
    margin-top: 100px;
    max-width: 100%;
    overflow: hidden;
}

.hero_section .small_heading{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #E4ECFF;
    text-transform: uppercase;
}

.hero_section h1{
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

.hero_section h1  span{
    color: #CBACF9;
}

.hero_section .first_description{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    color: #E4ECFF;
}

.hero_section .hero_btn{
    text-align: center;
    margin-top: 40px;
    overflow: hidden;
    padding: 20px;
}

.hero_section .hero_btn a{
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    border-radius: 14px;
    background: linear-gradient(#161A31, #06091F);
    font-size: 14px;
}

.hero_section .hero_btn img{
    margin-left: 7px;
    width: 12px;
    height: 12px;
}

/* aboutt section styling */

.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    width: 100%;
    margin: 10rem auto;
    gap: 50px;
    overflow-y: hidden;

}

.about .first_flexbox{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: 30px;
    height: 500px;
    width: 620px;
    border: 1px solid #3637496E;
    background: linear-gradient(#04071D, #0C0E23);
    background-image: url(../images/IMAGE2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
}

.about .vector1_box{
    margin-top: 20%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    height: 100px;
}

.about .vector1_box .vector{
    width: 115px;
    height: 30px;
    background-color: #D1ACFF;
    border-radius: 30px 0 30px 30px;
}

.about .vector1_box #vector_icon{
    color: #D1ACFF;
    font-size: 24px;
    position: relative;
    bottom: 20%;
}

.about .bottom_side{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.about .bottom_side .text_box{
    width: 420px;
    padding: 100px 0px 0px 50px;
}

.about .bottom_side .text_box p{
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}

.about .vector2_box{
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-top: 70%;
}

.about .vector2_box .vector{
    height: 27px;
    width: 126px;
    background-color: #F6F056;
    border-radius: 0px 30px 30px 30px;
}

.about .vector2_box #vector_icon{
    color: #F6F056;
    font-size: 24px;
    position: relative;
    bottom: 20%;
}

.second_flexbox{
    display: flex;
    flex-direction: column;
    width: 35%;
    overflow: hidden;
    scrollbar-width: none;
    gap: 10px;
    -ms-overflow-style: none;
}

.second_flexbox .right_side .first_column::-webkit-scrollbar,
.second_flexbox .right_side .second_column::-webkit-scrollbar {
    display: none; 
}

.second_flexbox .top_box{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-image: url(../images/IMAGE1.jpg);
    background-color: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    border: 1px solid #3637497D;
}

.second_flexbox .top_box .text{
    font-size: 25px;
    font-weight: 700;
    padding: 25px 0 0 25px;
}

.second_flexbox .top_box .button_box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}

.second_flexbox .top_box .button_box button{
    background: linear-gradient(#161A314D, #06091F4D);
    color: #ffffff;
    padding: 10px;
    border: 1px solid #6971A266;
    border-radius: 5px;
    font-family: inherit;
}

.second_flexbox .top_box .button_box .middle_btn{
    position: relative;
    top: 40px;
}

.second_flexbox .bottom_box{
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 250px;
    background: linear-gradient(#04071D, #0C0E23);
    border: 1px solid #3637497D;
    justify-content: space-between;
    border-radius: 15px;
}

.second_flexbox .bottom_box .left_side{
    padding-top: 15%;
    padding-left: 20px;
}

.second_flexbox .bottom_box .right_side{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    gap: 10px;
}

.second_flexbox .first_paragraph{
    font-size: 12px;
    color: #C1C2D3;
    font-weight: 400;
}

.second_flexbox .second_paragraph{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.second_flexbox .right_side .first_column{
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.second_flexbox .right_side .first_column::-webkit-scrollbar{
    display: none;
}

.second_flexbox .right_side .first_column div {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    background: #10132E;
    color: #FFFFFF;
    border-radius: 7px;
    height: 40px;
    width: 100px;
    overflow-x: hiddens;
    padding-top: 12px;
    margin-top: 15px;
    
}

.second_flexbox .right_side .second_column{
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.second_flexbox .right_side .second_column::-webkit-scrollbar{
    display: none;
}

.second_flexbox .right_side .second_column div {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    background: #10132E;
    color: #FFFFFF;
    border-radius: 7px;
    height: 40px;
    width: 100px;
    padding-top: 12px;
    margin-top: 15px;
}

.second_flexbox .second_paragraph{
    font-size: 23px;
}

.about_down_side{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    gap: 30px;
    justify-content: center;
}

.about_down_side .first_box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about_down_side .first_box .top{
    background-color: #06091F;
    border: 1px solid #3637497D;
    border-radius: 20px;
    width: 350px;
    height: 180px;
}

.about_down_side .first_box  .top p{
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-align: left;
    padding: 25px 0 0 25px;
}


.about_down_side .first_box  .top .frame_image{
    background: linear-gradient(#3637496E, #3637497D);
    width: 175px;
    height: 90px;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    float: right;
    border: 1px solid #FFFFFF1A;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #FFFFFF0D;
    overflow-y: hidden;
}

.about_down_side .first_box  .top .frame_image .first_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.about_down_side .first_box  .top .frame_image .first_row div:nth-child(1){
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #FFFFFF0D;
    border: 1px solid #FFFFFF1A;
}

.about_down_side .first_box  .top .frame_image .first_row div:nth-child(2){
    width: 50px;
    height: 10px;
    border-radius: 3px;
    background: #FFFFFF0D;
    border: 1px solid #FFFFFF1A;
}

.about_down_side .first_box  .top .frame_image .first_row div:nth-child(3){
    width: 30px;
    height: 10px;
    border-radius: 3px;
    background: #FFFFFF0D;
    border: 1px solid #FFFFFF1A;
}

.about_down_side .first_box  .top .frame_image .second_row{
    display: flex;
    margin-top: 7px;
    flex-direction: column;
    gap: 7px;
}

.about_down_side .first_box  .top .frame_image .second_row div:nth-child(1){
    height: 10px;
    width: 85%;
    background-color: #FFFFFF0D;
    border: 1px solid #FFFFFF1A;
    border-radius: 3px;
}

.about_down_side .first_box  .top .frame_image .second_row div:nth-child(2){
    height: 10px;
    width: 30%;
    border: 1px solid #FFFFFF1A;
    background-color: #FFFFFF0D;
    border-radius: 3px;
}


.about_down_side .bottom{
    color: #fff;
    width: 350px;
    background: linear-gradient(#06091F, #ffffff41);
    border-radius: 20px;
    height: 175px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    border: 1px solid #FFFFFF1A;
    padding: 20px 0 15px 0;
}

.about_down_side .bottom p{
    font-size: 21px;
    text-align: center;
    font-weight: 700;
    color: #FFFFFF;
}

.about_down_side .bottom .copy-btn {
    padding: 12px 22px;
    font-size: 14px;
    background: linear-gradient(#161A31, #06091F);
    border: 1px solid #272A3C80;
    font-family: inherit;
    color: #E4ECFF;
    font-weight: 500;
    border-radius: 7px;
    width: 75%;
    margin: 0 auto;
    cursor: pointer;
}

.about_down_side .bottom .confirmation-message {
    margin-top: 10px;
    color: rgba(10, 214, 10, 0.918);
    text-align: left;
    font-size: 14px;
    display: none; /* Hidden by default */
}

.about_down_side .second_box{
    width: 650px;
    border: 1px solid #FFFFFF1A;
    display: flex;
    flex-direction: row;
    background-color: inherit;
    height: 360px;
    border-radius: 20px;
}

.about_down_side .second_box .text_box{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 50%;
    align-items: center;
    height: 70%;
    padding-top: 100px;
    justify-content: center;
}

.about_down_side .second_box .text_box .small_text{
    font-weight: 400;
    font-size: 14px;
    color: #E4ECFF;
    text-transform: uppercase;
}

.about_down_side .second_box .text_box .large_text{
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    align-content: center;
    padding-left: 20%;
}

.about_down_side .second_box .image_box{
    width: 450px;
    height: 230px;
    margin-top: 130px;
    margin-left: 120px;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.5;
    color: #fff;
    border-radius: 20px 0 20px 20px;
    padding: 10px;
}

.about_down_side .second_box .image_box p{
    color: #e25940;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: bold;
}

.about_down_side .second_box .image_box p.comment{
    color: #808080;
}

.about_down_side .second_box .image_box p .span1{
    color: #dda0dd;
}

.about_down_side .second_box .image_box p .span2{
    color: #cd853f;
}

/* Projects Section Styling */
.Projects{
    margin-top:40px;
}

.Projects .view_more{
    float: right;
    margin-right: 10%;
}

.Projects .view_more a{
    color: #C1C2D3;
    text-decoration: none;
}

.Projects .projects_grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    justify-content: center;
    padding: 5% 10% 3% 10%;
    row-gap: 30px;
    column-gap: 40px;
    width: 100%;
}

.Projects .top_heading{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.Projects .top_heading span{
    color: #CBACF9;
}

.Projects .projects_grid_container .project_container{
    background: linear-gradient(#04071D, #0C0E23);
    border: 1px solid #3637497D;
    border-radius: 23px;
    padding: 20px;
    margin-top: 0;
}

.Projects .projects_grid_container .project_container .image_box{
    width: 95%;
    margin-left: 3%;
    padding: 20px;
    background: #13162D;
    border-radius: 14px;
}

.Projects .projects_grid_container .project_container img{
    width: 95%;
    margin-left: 3%;
    border-radius: 10px;
    rotate: 2.7deg;
}

.Projects .projects_grid_container .project_container .heading{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-left: 3%;
    margin-top: 10px;
}

.Projects .projects_grid_container .project_container .description{
    color: #BEC1DD;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 3%;
}

.Projects .projects_grid_container .project_container .bottom_line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin-left: 2%;
    margin-top: 15px;
}

.Projects .projects_grid_container .project_container .bottom_line .technologies_used{
    display: flex;
    gap: 10px;
}

.Projects .projects_grid_container .project_container .bottom_line  i{
    font-size: 30px;
}


/* Experience Section Styling */
.experience{
    margin-top:40px;
}

.experience .experience_grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    justify-content: center;
    padding: 5% 10% 3% 10%;
    row-gap: 30px;
    justify-content: center;
    column-gap: 40px;
    width: 100%;
}

.experience .experience_grid_container .experience_box{
    background: linear-gradient(#04071D, #0C0E23);
    border: 1px solid #3637497D;
    border-radius: 23px;
    padding: 20px;
    margin-top: 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

.experience .experience_grid_container .experience_box .text_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience .experience_grid_container .experience_box .text_box .heading{
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
}

.experience .experience_grid_container .experience_box .text_box .description{
    color: #BEC1DD;
    font-weight: 500;
    font-size: 14px;
}

.experience .top_heading{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.experience .top_heading span{
    color: #CBACF9;
}


/* Media Query for Tablet View */
@media (max-width:768px){
    .hero_section h1{
        font-size: 55px;
    }

    .hero_section .first_description{
        font-size: 1.2rem;
    }

    .about{
        flex-direction: column;
        justify-content: center;
    }
    
    .about .first_flexbox{
        width: 95%;
        margin: 0 auto;
        height: fit-content;
        overflow: hidden;
    }
    
    .about .first_flexbox .text_box p{
        font-size: 20px;
    }
    
    .about .second_flexbox{
        width: 95%;
        margin-left: 2%;
    }

    .about_down_side{
        flex-direction: column;
        margin-top: 0;
        padding: 0;
    }

    .about_down_side .first_box{
        margin: 0 auto;
    }

    .about_down_side .second_box{
        flex-direction: column;
        height: fit-content;
        width: 100%;
        gap: 10px;
        padding-top: 15px;
    }

    .about_down_side .second_box .image_box{
        width: 80%;
        float: right;
        margin: 20px 0 0 20%;
    }

    .about_down_side .second_box .text_box{
        padding: 0;
        height: 30%;
        gap: 2px;
    }

    .Projects{
        margin-top:70px;
    }

    .Projects .view_more{
        margin-right: 5%;
    }

    .Projects .top_heading{
        font-size: 25px;
        padding: 0 25px;
    }

    .Projects .projects_grid_container{
        grid-template-columns: 1fr;
        padding: 5%;
    }

    .experience .experience_grid_container{
        grid-template-columns: 1fr;
        padding: 5%;
    }

    .experience .top_heading{
        font-size: 25px;
        padding: 0 25px;
    }
}


/* Media query for Mobile View */
@media (max-width: 430px) {
    header .nav_list{
        width: 20rem;
        gap: 15px;
        margin: 25px auto;
    }

    header .nav_list{
        font-size: 10px;
    }
    
    .hero_section{
        margin-top: 70px;
    }

    .hero_section .small_heading{
        font-size: 12px;
    }

    .hero_section h1{
        font-size: 40px;
    }

    .hero_section .first_description{
        font-size: 15px;
        padding: 0 10px;
    }
    
    .hero_section .hero_btn a{
        padding: 15px;
        font-size: 14px;
        border-radius: 0;
        background: none;
    }

    .hero_section .hero_btn{
        background: linear-gradient(#161A31, #06091F);
        width: 90%;
        margin: 15px auto;
        border-radius: 5px;
        padding: 15px 0;
        border: 2px solid  #272A3C80;    
    }

    .about .vector1_box{
        margin-left: 15px;
    }

    .about .vector2_box{
        margin-right: 20px;
    }

    .about .vector1_box .vector{
        width: 90px;
    }

    .about .vector2_box .vector{
        width: 90px;
    }

    .about .bottom_side .text_box{
        width: 350px;
        padding: 0 0 3px 7px;
        margin-top: 100px;
    }

    .about .second_flexbox{
        width: 93%;
        overflow: hidden;
    }

    .second_flexbox .top_box .text{
        font-size: 18px;
    }

    .about_down_side .second_box .text_box{
        gap: 5px;  
        justify-content: left;
        width: 60%;
    }

    .Projects .view_more{
        margin-right: 15px;
    }

    .Projects .projects_grid_container{
        width: 100%;
        justify-content: start;
        padding: 15px;
    }

    .Projects .projects_grid_container .project_container{
        width: 100%;
        margin: 0 auto;
    }

    .Projects .projects_grid_container .project_container .bottom_line{
        margin-top: 30px;
    }

    .Projects .projects_grid_container .project_container .bottom_line  i{
        font-size: 25px;
    }
    
    .experience .experience_grid_container{
        width: 100%;
        justify-content: start;
        padding: 15px;
    }


    .experience .experience_grid_container .experience_box{
        width: 100%;
        margin: 0 auto;
    }

    .experience .experience_grid_container .experience_box .text_box .heading{
        font-size: 16px;
    }

    .experience .experience_grid_container .experience_box .text_box .description{
        font-size: 12.5px;
    }



}