@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Galindo";
  src: url("../../public/fonts/Galindo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Short Stack";
  src: url("../../public/fonts/ShortStack-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", fantasy;
  background-color: #fafafa;
  color: #0a0a0a;
  width: 100%;
  padding: 5% 0;
}

.main {
  width: 50%;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.profile {
  display: flex;
  gap: 15px;
  align-items: center;
}

.profile .dp {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.profile div .name {
  display: flex;
  gap: 5px;
  font-family: "Galindo";
  align-items: center;
}

.profile div .role {
  font-family: "Short Stack";
  font-weight: 400;
}

/* Experiecnes section - a little complicated/complex to deal with */

.experiences {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
  padding-top: 100px;
  border-top: 1px solid #808080a8;
}

.experiences > .experience {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 3fr;
  align-items: start;
}

.experiences > .experience .period {
  color: #2a6fbd;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.experiences > .experience > .period,
.role,
.organization {
  font-size: 17px;
  font-weight: 500;
  font-family: "Galindo";
}

.experiences > .experience .description {
  line-height: 23px;
}

.experiences > .experience .role-and-org {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.experiences > .experience .stack {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.experiences > .experience .stack > .tech-stack {
  padding: 7px 20px;
  background-color: #2a6fbd5d;
  border: 1px solid #2a6fbd;
  color: #2a6fbd;
  font-weight: 500;
  font-family: "Galindo";
  font-size: 14px;
}
