.about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.about h2 {
  font-family: "Itim";
  text-transform: uppercase;
  color: #3d3d3d;
}

.about p {
  color: #575757;
}
