.experience {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #575757;
}

.experience h2 {
  font-family: "Itim";
  text-transform: uppercase;
  color: #3d3d3d;
  font-size: 22px;
}

.experience h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
  color: #3d3d3d;
  list-style-type: circle;
}

.experience h4 {
  font-size: 16px;
  margin: 15px 0 5px 0;
  color: #3d3d3d;
  font-weight: 500;
}

.experience ul {
  list-style-type: none;
  margin-left: 20px;
}
.experience .technologies {
  margin-top: 10px;
}
