.profile-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile-pic-bg {
  width: 200px;
  height: 200px;
  border: 3px solid hsl(199, 86%, 48%);
  border-radius: 50%; /* Makes it perfectly circular */
  box-shadow: 0 0 10px 5px hsl(199, 86%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-bg img {
  width: 180px;
  margin: auto;
  background: hsl(199, 86%, 48%);
  border-radius: 50%;
}

.name {
  color: #3d3d3d;
}

.role {
  color: #575757;
  font-size: 18px;
}

.social-handles {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.social-handles img {
  width: 25px;
}

.overview {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.overview p {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  color: #575757;
  text-align: center;
}

.overview p span:first-child {
  font-size: 20px;
  font-weight: 600;
  color: #3d3d3d;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta > .download-cv {
  background: hsl(199, 86%, 48%);
  border: none;
  font-family: inherit;
  font-size: 15px;
  padding: 17px 35px;
  border-radius: 4px;
  color: #3d3d3d;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.cta > .download-cv > img {
  height: 15px;
}

.cta > .contact {
  background: hsl(0, 0%, 100%);
  border: none;
  text-decoration: none;
  color: #3d3d3d;
  font-family: inherit;
  padding: 18px 50px;
  border-radius: 4px;
  font-size: 15.5px;
  display: inline-block;
}
