.profile-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile-pic-bg {
  width: 170px;
  height: 170px;
  border: 3px solid hsl(199, 86%, 48%);
  border-radius: 50%; /* Makes it perfectly circular */
  box-shadow: 0 0 10px 5px hsl(199, 86%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-bg img {
  width: 150px;
  margin: auto;
  background: hsl(199, 86%, 48%);
  border-radius: 50%;
}

.name {
  color: #3d3d3d;
  font-family: "Itim";
  font-size: 30px;
  text-transform: uppercase;
}

.role {
  color: #575757;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  font-family: inherit;
  background: inherit;
  border: none;
}

.contact-mail span {
  margin-bottom: -4px;
  font-weight: 600;
}

.contact-mail a {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 14px;
}
